.cvt_three_20201224 {
    width: 794px;

    .text_title {
        font-weight: bold;
        letter-spacing: 0.6em;
        line-height: 1.5em;
        color: #000;

        & > div {
            margin-top: 4px;
            width: 100%;
            height: 0;
            position: relative;

            div:first-child {
                width: 100%;
                height: 1px;
                opacity: 0.3;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }

            div:last-child {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 20px;
                opacity: 0.3;
                z-index: 10;

                img {
                    position: absolute;
                    width: 40px;
                    height: 20px;
                }
            }
        }
    }

    .text_fff_1 {
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.2em;
        color: #fff;
    }

    .text_fff_2 {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #fff;
    }

    .text_000 {
        color: #000;
        line-height: 1.5em;
    }

    .text_000_bold {
        color: #000;
        font-weight: bold;
        line-height: 1.5em;
    }

    .text_000_bold_p {
        color: #000;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: 1.5em;
    }

    .text_000_24 {
        font-weight: bold;
        font-size: 24px;
        color: #000;
    }

    .text_696 {
        font-size: 14px;
        color: #696969;
        line-height: 1.5em;
    }

    .text_eee {
        font-size: 14px;
        color: #8d919a;
        line-height: 1.5em;
    }

    .row_box_100 {
        padding-left: 40px;
        border-left: 1px solid #8d919a;
    }

    .swap_flex {
        display: flex;
    }

    .swap_flex_ai {
        display: flex;
        align-items: center;
    }

    .swap_flex_js1 {
        display: flex;
        justify-content: space-between;
        width: 484px;

        & > div:first-child {
            width: calc(100% - 254px);
        }

        & > div:last-child {
            width: 254px;
        }
    }

    .swap_flex_js {
        display: flex;
        justify-content: space-between;

        & > div:first-child {
            width: calc(100% - 10em);
        }

        & > div:last-child {
            width: 10em;
            text-align: right;
        }
    }

    .swap_flex_fw {
        display: flex;
        flex-wrap: wrap;
    }

    .item_after_1 {
        display: flex;
        align-items: center;
        line-height: 1.5em;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "";
            width: 1px;
            height: 1em;
            background: #000;
            margin-left: 5px;
            margin-right: 5px;
        }


    }

    .item_after_2 {
        display: flex;
        align-items: center;
        line-height: 1.5em;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "";
            width: 1.5em;
            height: 1em;
        }
    }

    .item_before_eee {
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;

        &::before {
            content: "";
            display: block;
            width: .55em;
            height: .55em;
            border-radius: 100px;
            margin: .5em 1em 0 0;
            background: #8d919a;
        }

        & > div {
            max-width: calc(100% - 1.55em);
        }
    }

    .item_before_000 {
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;

        &::before {
            content: "";
            display: block;
            width: .55em;
            height: .55em;
            border-radius: 100px;
            margin: .4em 1em 0 0;
            background: #000;
        }

        & > div {
            max-width: calc(100% - 1.55em);
        }
    }

    .cvt_top_swap {
        margin: 60px 60px 80px 60px;
        width: 674px;
        height: 136px;
        border-radius: 68px 0 0 68px;
        background: #7da38c;

        display: flex;
        position: relative;
    }

    .image {
        width: 122px;
        height: 122px;
        margin: 6px 60px 6px 6px;
        padding: 2px;
        border-radius: 61px;
        background-color: rgba(255, 255, 255, 0.56);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;

        div {
            width: 118px;
            height: 118px;
            border-radius: 59px;
            overflow: hidden;
        }

        img {
            width: 118px;
        }
    }

    .tel_swap {
        div {
            color: #fff;
        }

        strong {
            display: inline-block;
            font-family: "Courier New", serif;
            min-width: 1.3em;
        }
    }

    .skills {
        .level {
            height: 8px;
            position: relative;

            div {
                width: 190px;
                height: 8px;
                position: absolute;
                z-index: 1;
                opacity: .3;
            }
        }
    }

    &.cvt_swap1 {
        width: 794px;
        min-height: 1123px;
        box-sizing: border-box;
        background-color: #fff;
        padding-bottom: 60px;
        position: relative;

        .main {
            display: flex;
        }

        .left {
            width: 310px;
            box-sizing: border-box;
            padding: 0 60px;
        }

        .right {
            width: 484px;
            box-sizing: border-box;
            padding-right: 60px;
        }
    }

    &.cvt_swap2 {
        width: 310px;
        min-height: 1123px;
        box-sizing: border-box;
        padding: 60px;

    }

    &.cvt_swap3 {
        width: 484px;
        min-height: 1123px;
        box-sizing: border-box;
        padding: 60px 60px 60px 0;
        background-color: #fff;
    }

    &.cvt_swap4 {
        width: 794px;
        min-height: 1123px;
        box-sizing: border-box;
        padding: 60px;
        background-color: #fff;
    }
}