.tbe1206b34774 {
    width: 794px;

    .text_fff {
        color: #fff;
        line-height: 1.5em;
    }

    .text_000 {
        color: #000;
        line-height: 1.5em;
    }

    .text_eee {
        font-size: 14px;
        color: #8d919a;
        line-height: 1.5em;
    }

    .text_border_bottom {
        border-bottom: 1px solid #dcdcdc;
    }

    .text_000_bold {
        color: #000;
        font-weight: bold;
        line-height: 1.5em;
    }

    .text_eee_bold {
        color: #8d919a;
        font-weight: bold;
        line-height: 1.5em;
    }

    .text_000_bold_p {
        color: #000;
        font-weight: bold;
        letter-spacing: 0.7em;
        line-height: 1.5em;
    }

    .text_000_24 {
        font-weight: bold;
        font-size: 24px;
        color: #000;
    }

    .text_696 {
        font-size: 14px;
        color: #696969;
        line-height: 1.5em;
    }

    .row_box_100 {
        padding-left: 40px;
        //border-left: 1px solid #8d919a;
    }

    .swap_flex {
        display: flex;
    }

    .swap_flex_ai {
        display: flex;
        align-items: center;
    }

    .swap_flex_js {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & > div:first-child {
            width: calc(100% - 4em);
        }

        & > div:last-child {
            width: 4em;
            text-align: right;
        }
    }

    .swap_flex_js2 {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & > div:first-child {
            width: calc(100% - 9em);
        }

        & > div:last-child {
            width: 9em;
            text-align: right;
        }
    }

    .swap_flex_fw {
        display: flex;
        flex-wrap: wrap;
    }

    .item_after_0 {
        display: flex;
        align-items: center;
        line-height: 1.5em;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "//";
            margin-left: 0.1em;
            margin-right: 0.1em;
        }
    }

    .item_after_1 {
        display: flex;
        align-items: center;
        line-height: 1.5em;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "//";
            margin-left: 1em;
            margin-right: 1em;
        }


    }

    .item_after_2 {
        display: flex;
        align-items: center;
        line-height: 1.5em;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "";
            width: .5em;
            height: .5em;
            border-radius: 0.25em;
            background: #000;
            margin-left: 14px;
            margin-right: 14px;
        }
    }

    .item_before_eee {
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;

        &::before {
            content: "";
            display: block;
            width: .4em;
            height: .4em;
            border-radius: 100px;
            margin: .6em 1em 0 0;
            background: #8d919a;
        }

        & > div {
            max-width: calc(100% - 1.55em);
        }
    }

    .item_before_000 {
        display: flex;
        align-items: flex-start;
        line-height: 1.5em;

        &::before {
            content: "";
            display: block;
            width: .4em;
            height: .4em;
            border-radius: 100px;
            margin: .5em 1em 0 0;
            background: #000;
        }

        & > div {
            max-width: calc(100% - 1.55em);
        }
    }

    .cvt_top_swap {
        height: 195px;
        position: relative;
        display: flex;
        margin-bottom: 40px;
    }

    .cvt_head_swap {
        width: 100%;
        height: 195px;
        opacity: 0.1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .left_swap {
        margin-top: 80px;
        margin-left: 133px;
    }

    .image {
        width: 109px;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-top: 11px;
        margin-bottom: 20px;
        position: absolute;
        top: 43px;
        right: 104px;

        img {
            width: 109px;
        }
    }

    .user_sex {
        width: 1.3em;
        height: 1.3em;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 10px;

        &.man {
            background-image: url(../img/man.png);
        }

        &.woman {
            background-image: url(../img/woman.png);
        }
    }

    .contact_swap {
        z-index: 10;

        .contact {
            div {
                line-height: 1.5em;
            }

            div:first-child {
                width: 42px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                margin-right: 20px;
            }

            div:last-child {
                text-align: left;
                color: #000;
            }
        }
    }

    .line1 {
        width: 54px;
        height: 4px;
    }

    .skill {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background-color: #cdcdd0;
        position: relative;
        overflow: hidden;

        .skill_length {
            position: absolute;
            left: 0;
            top: 0;
            height: 6px;
        }
    }

    &.cvt_swap1 {
        width: 794px;
        min-height: 1123px;
        box-sizing: border-box;
        background-color: #fff;
        padding-bottom: 40px;
        position: relative;

        .main {
            display: flex;
        }

        .left {
            width: 291px;
            box-sizing: border-box;
            padding: 0 20px 0 40px;
            border-right: 1px solid #dcdcdc;
        }

        .right {
            width: 503px;
            box-sizing: border-box;
            padding: 0 40px 0 20px;
        }
    }

    &.cvt_swap2 {
        width: 291px;
        min-height: 1123px;
        box-sizing: border-box;
        border-right: 1px solid #dcdcdc;
        padding: 40px 20px 40px 40px;
    }

    &.cvt_swap3 {
        width: 499px;
        min-height: 1123px;
        box-sizing: border-box;
        padding: 40px 40px 40px 20px;
        background-color: #fff;
    }

    &.cvt_swap4 {
        width: 794px;
        min-height: 1123px;
        box-sizing: border-box;
        padding: 40px;
        background-color: #fff;
    }

}